/* HEADER */

:root{--header-height: 60px;}
#header {
  position: fixed;
  display: flex;
  align-items: center;
  width: 100%;
  height: calc(var(--header-height) - 20px);
  padding: 10px 20px;
  transition: top 0.3s;
}

#header span{
  font-size: 1.5em;
  font-weight: bold;
}

/* BODY */

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}

canvas {
  border-width: 1px;
  border-style: solid;
}

p {
  margin: 0.2em;
}

span.remix {
  float: right;
}

button {
  font-size: 0.9em;
  margin: 5px 10px;
}

.serial-input {
  display: flex;
}

.serial-input input{
  flex-grow: 1;
}

.serial-input input:disabled {
  border-width: 1px;
  border-style: solid;
}

.main {
  flex: 1;
  padding-top: calc(var(--header-height) + 10px);
  padding-left: 1em;
  padding-right: 1em;
}

.main > *{
  margin: 10px auto;
}

.hidden {
  display: none;
}

.controls span {
  margin-left: 8px;
}

.chart-container {
  position: relative;
  height: 40vh;
  margin: 10px auto;
}

.notSupported {
  padding: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
}

@media only screen and (max-width: 900px) {
  .view > .serial, .view > .animation-container{width: 105% !important;}
  .view{flex-direction: column;}
}
.view{
  display: flex;
  & > .serial > *, & > .animation-container{
    margin: 10px;
  }
  & > .serial{
    width: 40%;
    display: flex;
    flex-direction: column;
    height: clamp(10vh,60vh,80vh);
  }
  & > .animation-container{
    overflow: hidden;
    width: 60%;
    height: clamp(10vh,60vh,80vh);
  }
}

.container {
  border-width: 1px;
  border-style: solid;
  overflow-y: scroll;
}

#log-container{
  font-family: 'Courier New', Courier, monospace;
  font-size: 0.8em;
  height: 100%;
}


/* INFO */
#head {
  display: flex;
  @media only screen and (min-width: 900px) {
    height: 2.7em;
  }
  @media only screen and (max-width: 575px) {
    flex-direction: column;
  }
  font: 1.5em Arial;
  display: flex;
  justify-content: center;
}

.key {
  text-align: right;
  padding-right: 0.4em
}

/* CARTE */
#map {
  min-height: 10vh;
  height: 80vh;
  max-height: 80vh;
}

.GPSmarker{
  filter: hue-rotate(120deg);
}